[Unit]
Description=Runs minikube on startup
After=docker.service

[Service]
Type=forking
ExecStart=/usr/local/bin/minikube start
User=sander
Group=sander
TimeoutStartSec=600
TimeoutStopSec=240

[Install]
WantedBy=multi-user.target